header {
  background-color: $calm;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(182, 186, 191, 0.7);
  width: 90%;
  margin: 0 auto;
}

.logo-container {
  height: 80px;
  width: 200px;
  display: flex;
  align-items: center;

  img:first-of-type {
    height: 52px;
  }
}

.search {
  width: 450px;
  position: relative;

  .search-container {
    height: 50px;
    width: 100%;
    
    z-index: 60;
    font-size: 2.2rem;
    color: #212326;
    box-shadow: 0 0 0 1px #6b7177;
    border: 1px solid transparent;
    padding: 10px 10px;
    border-radius: 4px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    background-color: $white;

    svg {
      width: 25px;
      color: $lightGreen;
      position: absolute;
      cursor: pointer;
    }
    .search-icon {
      position: absolute;
    }
    .clear-icon {
      right: 10px;

      &:hover {
        color: $green;
      }
    }

    input {
      width: calc(100% - 70px);
      margin-left: 35px;
      border: 0;
      background: 0;
      outline: none;
    }
  }

  .output {
    position: absolute;
    top: 60px;
    border-radius: 4px 4px 0 0;
    background-color: $green;
    color: $white;
    width: 100%;
    font-size: 1.9rem;
    z-index: 50;

    animation: focus-search 0.25s 1 linear forwards;

    p {
      margin: 0;
      margin-bottom: 8px;
    }

    .dialog-tip {
      color: $soft;
      font-size: 1.8rem;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    height: 510px;
  }

  ul.dialog {
    height: auto;
    overflow: hidden;
    border-radius: 4px;
  }

  li {
    padding: 20px;
  }

  .movie {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
    min-height: 100px;

    &:hover {
      background-color: $darkGreen;
    }
    &:first-of-type {
      padding-top: 20px;
    }
    &:last-of-type {
      padding-bottom: 20px;
    }
    .poster-container {
      max-width: 50px;
      img {
        border-radius: 2px;
      }
    }
    .info-container {
      margin-right: auto;
      margin-left: 10px;

      p {
        margin: 0;

        &:first-of-type {
          font-weight: 700;
          font-size: 1.8rem;
        }
        &:last-of-type {
          font-size: 1.5rem;
        }
      }
    }
    button {
      font-size: 1.6rem;
      height: 45px;
      padding: 0 12px;
      border: 0;
      background: 0;
      color: $white;
      border: 1px solid $calm;
      border-radius: 4px;
      cursor: pointer;
      outline: none;
      width: 106px;

      &:hover {
        background-color: $lightGreen;
      }
    }
  }
  .movie.disabled {
    button {
      cursor: default;
      opacity: 0.5
    }
  }

  .output-controls {
    position: absolute;
    width: 100%;
    background-color: $green;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 4px 4px;
    top: 570px;
    font-size: 1.8rem;
    border-top: 1px solid $grey;
    z-index: 50;

    .clear-btn {
      background-color: $green;
      border: 0;
      outline: 0;
      color: $white;
      font-weight: 500;
      padding: 5px;
      margin-right: 20px;
    }

    .pagination-btn {
      height: 23px;
      width: 23px;
      background-color: $calm;
      outline: 0;
      border: 0;
      border-radius: 50%;
      border: 3px solid $lightGreen;
      margin-right: 10px;
      cursor: pointer;

      &:hover {
        background-color: $green;
      }
    }
    .pagination-btn.selected {
      background-color: $darkGreen;
      cursor: default;
    }
  }
}

@keyframes focus-search {
  from {
    top: 75px;
    opacity: 0.7;
  }
  to {
    top: 60px;
    opacity: 1;
  }
}

@keyframes addBackground {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

// can't use display: none
@keyframes removeBackground {
  0% {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100vh;
  }
  99% {
    background-color: rgba(0, 0, 0, 0);
    height: 100vh;
  }
  100% {
    height: 0;
  }
}

.cover-screen.false {
  background-color: rgba(0, 0, 0, 0);
  animation-name: removeBackground;
  animation-duration: 0.13s;
  animation-fill-mode: forwards;
}

.cover-screen.true {
  background-color: rgba(0, 0, 0, 0.4);
  animation-name: addBackground;
  animation-duration: 0.13s;
}

.cover-screen {
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  transition-property: background-color;
  z-index: 40;
}