header {
  background-color: $calm;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  height: 80px;
  width: 200px;
  display: flex;
  align-items: center;
}

.search {
  width: 450px;
  position: relative;

  .search-container {
    height: 50px;
    width: 100%;
    
    z-index: 60;
    font-size: 2.2rem;
    color: #212326;
    box-shadow: 0 0 0 1px #6b7177;
    border: 1px solid transparent;
    padding: 10px 10px;
    border-radius: 4px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    background-color: white;

    svg {
      width: 25px;
      color: $lightGreen;
      position: absolute;
      cursor: pointer;
    }
    .search-icon {
      position: absolute;
    }
    .clear-icon {
      right: 10px;

      &:hover {
        color: $green;
      }
    }

    input {
      width: calc(100% - 70px);
      margin-left: 35px;
      border: 0;
      background: 0;
      outline: none;
    }
  }

  .output {
    position: absolute;
    top: 20px;
  }
}