main {
  h1 {
    font-size: 6rem;
    color: $green;
  }
  h3 {
    font-size: 2.2rem;
    color: rgb(66, 71, 76);
  }
  .title-container {
    margin-bottom: 50px;
    margin-top: 60px;
  }
}

.no-nominations {
  width: 100%;
  height: 700px;
  background-color: $green;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: $white;

  p {
    width: 50%;
    text-align: center;
    font-size: 2.6rem;
  }
  img {
    width: 55%;
  }
  button {
    background-color: $green;
  }
}

.nomination-display {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nomination {
  width: calc(20% - 15px);
  height: 320px;
  background-color: $green;
  border-radius: 4px;
  position: relative;
  z-index: 10;
  overflow: hidden;

  img {
    height: 100%;
    border-radius: 4px;
    z-index: 10;
  }
  button {
    position: absolute;
    top: 0;
    width: 100%;
    font-size: 1.6rem;
    border: 0;
    background-color: $green;
    color: $white;
    height: 40px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    z-index: 30;

    animation: slideButton 0.5s forwards;
  }
  .see-more {
    top: calc(50% + 28px);
    transform: translateY(-50%);
  }

  .poster-container {
    height: 100%;
    img { object-fit: cover; }
  }

  .darken {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    z-index: 20;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  
}

.focus-search-btn {
  border: 0;
  outline: 0;
  background-color: $calm;
  font-weight: 800;
  padding: 0;
  color: inherit;
}

.bottom-nomination-info {
  font-size: 2.2rem;
  color: rgb(66, 71, 76);
  font-weight: 500;
}

@keyframes slideButton {
  from {
    top: -40px;
  }
  to {
    top: 0px;
  }
}

@keyframes showBanner {
  from {
    bottom: -180px;
  }
  to {
    bottom: 0;
  }
}

.banner {
  position: absolute;
  bottom: 0;
  background-color: $green;
  color: $white;
  padding: 20px 0 20px 0;
  width: 100vw;
  animation: showBanner 1s forwards;

  h2 {
    font-size: 2.9rem;
  }
  p {
    font-size: 2.4rem;
  }
  .wrapper { position: relative; }
  .close-banner {
    position: absolute;
    top: 0px;
    right: 0;
    cursor: pointer;
  }
}

.wrapper {
  width: 60%; 
  margin: 0 auto;
}

.submit-nominations {
  padding: 13px 20px;
  margin-top: 30px;
  border: 0;
  background-color: $lightGreen;
  border-radius: 4px;
  color: $white;
  font-weight: 700;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
  font-size: 1.8rem;

  &:hover {
    box-shadow: 0 5px 20px 0 rgba(0,0,0,0.20);
    background-color: $green;
  }
}

.banner .submit-nominations {
  margin-top: 0;

  &:hover {
    box-shadow: 0 5px 25px 0 rgba(0,0,0,0.25);
  }
}